
table{
    background-color: aqua;
    color: crimson;
    border-style: solid;
}
html{
    font-family: 'Courier New', Courier, monospace;
}

li{
    color: crimson;
}

select{
    border-style: solid;
    border-color: darkgreen;
    border-width: 2px;
}
.fati {
    font-size: 2em;
    color: brown;
}

input:focus{
    background-color: rgb(189, 186, 33);
    border: 2px solid blue;
}
a{
   text-decoration: underline;
   color: blue;
   background-color: rgb(168, 179, 214);
}
a:hover{
    color: orangered;
    background-color: rgb(235, 181, 112);
 }
 a:active{
    color: red;
    background-color: rgb(224, 117, 117);
 }
 textarea:focus {
     background-color: rgb(126, 201, 126);
     color: red;
     text-decoration: underline;
     border: 2px solid blue;
 }
p:last-child{
     text-decoration: underline;
 }
 .fati p{
     font: italic bold 12px/2 verdana;
 }
 body{
     background: green indexs.jpeg no-repeat top right;
 }
 input, textarea, b{
     display: block;
 }
 li{
     visibility: normal;
 }
 img{display: block;}
 table{
     display: table-caption;
 }
blockquote:first-line {
     color: red; 
     font-weight: bold;
}
blockquote:first-letter {
     font-size: 40px;
     float: left;
}blockquote:before{
    content: open-quote;
}
blockquote:after{
    content: close-quote;
}
.kem:before{
    content: "New Paragraph!";
    background: rgb(189, 70, 70);
    color: blue;
}
.kem:after{
    content: "!End of paragraph!";
    background: rgb(189, 70, 70);
    color: blue;
}
.fati:before{
    content: index.jpeg;
}

}
blockquote{
    float: left;
    width: 600px;
}
#figo:before{
    content:"Importance of this Project";
    text-decoration: underline;
    font-weight: bolder;
}
img{
    clear: left;
    margin-left: 40px;
}
table{
    position: absolute;
    top: 395px;
    left: 330px;
}
#newimage{
    margin-top: 20px;
    width: 1250px;
}
td{
    text-align: center;
}
option{
    color: brown;
}
#malc{
    width: 200px;
    height: 300px;
}
#tt{
    display: inline;
}